body{
    margin: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
a{
    text-decoration: none;
    color: #1C1C1C;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    
}
h1, h2, h3, h4, h5, h6{
    color: #000;
}

p{
    color: #000;
}


/* Header */
.header{
    padding: 15px 0;
}
.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.header_iner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav{
    width: 100%;
    max-width: 780px;

    display: flex;
    justify-content: space-between;
   
}

.nav_href:hover, .log:hover{
    color: rgb(41, 126, 126);
}

.btn{
    padding: 12px 34px 15px;
    border-radius: 20px;
    border-color:  #6F2CFF;
    border-style: solid;
    border-width: 1px;
    background: #6F2CFF;
    color: #fff; 
    

    transition: background .1s linear;
}

.btn:hover{
    background: #1344FF;
}

.log{
    padding-left: 40px;
}

/* /Header */


/* Intro */
.intro{
    background: #F6BED9;

}

.intro_inear{
    width: 100%;
    height: 79vh;
    max-width: 1440px;
    margin: 0 auto;

    position: relative;

    background: url(img/intro.jpg) center center no-repeat;
    background-size: cover;
}

.intro_content{
    width: 100%;
    max-width: 470px;

    position: absolute;
    left: 8%;
    top: 17%;
}

.intro_content p{
    max-width: 439px;
}

.sup_description{
    font-size: 15px;
}

.main_text{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;

    margin: 19px 0px 37px;
}

.violet_text{
    color: #6F2DFF;
}

.sub_description{
    font-size: 18px;
    line-height: 30px;
}

.bold_text{
    font-weight: 700;
}


.intro_form .mail{
    width: 268px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #6F2CFF;
    border-style: solid;
    border-width: 1px;

    padding: 13px 0px 14px 21px;
}

.intro_form .mail:focus{
    outline: 0;
}

.intro_form .btn{
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;

   position: relative;
   top: -1px;
}



/* /Intro */